server {
    listen 443 ssl;
    server_name myolink.info.gf;

    ssl_certificate /etc/ssl/certs/myolink.crt;
    ssl_certificate_key /etc/ssl/private/myolink.key;

    location / {
        proxy_pass http://localhost:8080;
    }
}