server {
    listen 80;
    server_name myolink.info.gf;
    return 301 https://$server_name$request_uri;
}

server {
    listen 443 ssl;
    server_name myolink.info.gf;

    ssl_certificate /etc/letsencrypt/live/myolink.info.gf/fullchain.pem;
    ssl_certificate_key /etc/letsencrypt/live/myolink.info.gf/privkey.pem;

    location / {
        proxy_pass http://localhost:5000;
    }
}